---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css"
---

<Layout>
  <h1 class="lg:text-red-500 text-black">Bienvenido a Astro Inventory</h1>
  <p>Selecciona una empresa para comenzar.</p>
  <a href="/companies">Ir a empresas</a>
</Layout>
